@page "/GroupInfo"
@using BlazorSyncTask.Services
@using global::Shared.Dtos
@using System.Security.Claims
@using BlazorSyncTask.Services.Http
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities

<h3>Group Information</h3>
<button @onclick="() => AddTaskGroup()">Add Task</button>
<button @onclick="() => LeaveGroup()">Leave Group</button>
     <div>
            <input type="text" @bind-value="searchTerm" />
            <button @onclick="SearchFriends">Search</button>
        </div>
        <ul>
            @if (filteredFriends != null)
            {
                @foreach (var friend in filteredFriends)
                {
                    <li>@friend.username <button @onclick="() => AddFriendToGroup(friend.id)">Add Friend</button></li>
                }
            }
        </ul>
@if (group != null)
{
    <h4>Group Name: @group.groupName</h4>

    @if (group.members != null && group.members.Count > 0)
    {
        <p>Members:</p>
        <ul>
            @foreach (var member in group.members)
            {
                <li>@member.User.fullName - @member.User.email</li>
            }
        </ul>
    }
    else
    {
        <p>No members in the group.</p>
    }

    @if (group.tasks != null && group.tasks.Count > 0)
    {
        <p>Tasks:</p>
        <ul>
            @foreach (var task in group.tasks)
            {
                <li>@task.name - @task.description</li>
            }
        </ul>
    }
    else
    {
        <p>No tasks in the group.</p>
    }
}
else
{
    <p>Loading group information...</p>
}
@code {
    [CascadingParameter]
    public static Task<AuthenticationState> AuthState { get; set; } = null!;
    [Inject]
    private IGroupsService GroupsService { get; set; }
    [Inject]
    private IFriendsService FriendsService { get; set; }
    [Inject]
    public AuthenticationStateProvider AuthenticationStateProvider { get; set; }
    [Parameter]
    public int GroupId { get; set; }
    private string Id;
    private GroupDTO group;
    //add members
    private List<GetUserDto> allFriends = new List<GetUserDto>();
    private List<GetUserDto> filteredFriends = new List<GetUserDto>();
    private string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        Id = query["id"];
        group = await GroupsService.GetGroupById(Convert.ToInt32(Id));
        //friends
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        allFriends = await FriendsService.GetAllFriends(Convert.ToInt32(authState.User.FindFirst(c => c.Type == "Id")?.Value));
    }

    private void AddTaskGroup()
    {
        NavigationManager.NavigateTo($"/AddTaskGroup?id=" + Convert.ToInt32(Id) + "");
    }
    private async Task LeaveGroup()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        await GroupsService.LeaveGroup( Convert.ToInt32(authState.User.FindFirst(c => c.Type == "Id")?.Value),Convert.ToInt32(Id));
        NavigationManager.NavigateTo($"/Groups");
    }

    private void SearchFriends()
    {
        if(searchTerm!="")
            filteredFriends = allFriends.Where(f => f.username.ToLower().Contains(searchTerm.ToLower())).ToList();
    }

    private async Task AddFriendToGroup(int friendId)
    {
        
        if (group.members.Any(m => m.User.id == friendId))
        {
            Console.WriteLine("Friend is already a member of the group.");
            return;
        }
        
        await GroupsService.AddToGroup(friendId, Convert.ToInt32(Id));
        searchTerm = "";
        
    }

}