@using BlazorSyncTask.Services
@inject IAuthService authService
@inject NavigationManager navMgr
@page "/Register"


<AuthorizeView>
    <NotAuthorized>
        <div class="offset-md-3 col-md-2 logo position-absolute top-0 end-0 pt-3">
            <p>synctask</p>
        </div>
        <div class="grid pt-5">
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-3 ">
                    <div class="tit pt-5">
                        <p>Wish to Sign-Up?</p>
                    </div>
                    <div class="sub">
                        <p>Sign up and start your journey</p>
                    </div>
                    <div>
                        <img src="reg.png" class="img-fluid mx-auto d-block" style="width: 100%; height: auto;" alt="Image description">
                    </div>
                </div>

                <div class="col-5">
                    <div class="tab-panel bg-transparent" id="register">
                        <div class="card bg-transparent border-0 pt-5">
                            <div class="card-body pt-5">
                                <form>
                                    <div class="mb-3 px-5">
                                        <label class="form-label text-white">Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Name" @bind="@fullName"/>
                                    </div>
                                    <div class="mb-3 px-5">
                                        <label class="form-label text-white">Username</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Username" @bind="@userName"/>
                                    </div>
                                    <div class="mb-3 px-5">
                                        <label class="form-label text-white">Email</label>
                                        <input type="email" class="form-control text-white" placeholder="Enter Your Email" @bind="@email">
                                        <div class="invalid-feedback">
                                            Enter a valid email.
                                        </div>
                                    </div>
                                    <div class="mb-3 px-5">
                                        <label class="form-label text-white">Password</label>
                                        <input type="password" class="form-control " placeholder="Enter Password" @bind="@password"/>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary btn-rounded btn-shadow " style="background-color: #00aeef;" @onclick="@OnRegisterClicked">Create Account</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">

                </div>
            </div>
        </div>
        <div class="grid">
            <div class="row">
                <div class="col-2">

                </div>
                <div class="col-3">

                </div>
                <div class="col-5">
                    <div class="sub text-center">
                        <p>Do you already have an account?</p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-rounded btn-shadow " style="background-color: #00aeef;" @onclick="LoginAsync">Log in</button>
                    </div>
                </div>
                <div class="col-2">
                    
                </div>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(errorLabel))
        {
            <div class="field">
                <label style="color: red">
                    @errorLabel
                </label>
            </div>
        }


    </NotAuthorized>
    <Authorized>
        <div class="card">
            <h3>Hello, @context.User.Identity.Name</h3>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string fullName;
    private string userName;
    private string email;
    private string password;
    private string errorLabel;
    Validations registerValidationsRef;
    
    private async Task LoginAsync()
    {
        navMgr.NavigateTo("/login");
    }
    
    async Task OnRegisterClicked()
    {
        if (await registerValidationsRef.ValidateAll())
        {
            errorLabel = "";
            try
            {
                await authService.RegisterAsync(fullName, userName, password, email);
                navMgr.NavigateTo("/login");
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                errorLabel = $"Error: {e.Message}";
            }

            await registerValidationsRef.ClearAll();
        }
    }


 

}